@import "global";

html, body {
  height: 100%;
  background-color: @brickLight;
}

#stockModal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  .flexContainer;

  .modal {
    .panel;
    width: 50%;
    background-color: @brick;
  }

  #stockName {
    color: white;
    .uppercase;
    .bold;
    .alignCenter;
  }

  #stockTicker {

  }

  #modalClose {
    .alignCenter;
    .centerBlock;
    .pointer;
    color: white;
    .pacifico;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;

  }
}

#portfolioContainer {
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  height: calc(~"100vh - 100px");

  input {
    min-width: 240px;
  }

  .portfolio {
    vertical-align: top;
    display: inline-block;
    background-color: @brick;
    padding: 10px;
    max-height: 100%;
    width: 240px;
    .radius;
    margin-right: 10px;
    .shadow;
  }

  .portfolioTitle {
    .alignCenter;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    .bold;
    .uppercase;
  }

  .deletePortfolio {
    float: right;
    margin-right: 5px;
    .skinny;
    .pointer;
  }

  .stockRow {
    margin-bottom: 8px;
    background-color: @brickLight;
    padding: 10px;
    .radius;
    &:hover {
      background-color: darken(@brickLight, 4%);
      .pointer;
    }
  }

  .portfolioScroll {
    overflow-y: scroll;
    max-height: calc(~"100vh - 120px");
  }

  .deleteStock {
    .pointer;
    margin-left: 3px;
  }

  .addStock {

  }

  .stockTicker {
    float: left;
  }

  .stockPrice {

  }

  .stockChange {
    font-weight: 500;
  }

  .newPortfolio {
    display: inline-block;
    }

    #newPortfolioInput {
      width: 260px;
    }

    #newPortfolioButton {
      width: 260px;
      background-color: @brick;
      padding: 10px;
      .radius;
      .alignCenter;
      color: white;
      .uppercase;
      .bold;
      .shadow;
      margin-left: -10px;
      &:hover {
        .pointer;
        background-color: darken(@brick, 6%);
    }
  }

  .priceAndDelete {
    float: right;
  }
}
