@import "global";

html, body {
  height: 100%;
  background-color: @brickLight;
}

#portfolioContainer {
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;

  input {
    min-width: 240px;
  }

  .portfolio {
    vertical-align: top;
    background-color: @brick;
    padding: 10px;
    max-height: 100%;
    width: 240px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    .shadow;
  }

  .portfolioTitle {
    .alignCenter;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    .bold;
    .uppercase;
  }

  .stockRow {
    margin-bottom: 8px;
    background-color: @brickLight;
    padding: 10px;
    border-radius: 5px;
  }

  .deleteStock {
    .pointer;
  }

  .addStock {

  }

  .stockTicker {
    float: left;
  }

  .stockPrice {

  }

  .stockChange {

  }

  .newPortfolio {
    display: inline-block;
  }

  .priceAndDelete {
    float: right;
  }
}
