<div id="portfolioContainer" ng-click="vm.working()">
  <div ng-repeat="portfolio in vm.portfolios">
    <portfolio portfolio="portfolio" ticker="ticker" click="vm.addStock({ticker: ticker, portfolio: portfolio})"></portfolio>
  </div>
  <form ng-submit="vm.newPortfolio()">
    <div ng-if="vm.isNewPortfolio"><input type="text" name="name" placeholder="Portfolio name..." ng-model="vm.newPortfolioTitle"></div>
  </form>
  <div class="newPortfolio" ng-click="vm.showPortfolioInput()">New</div>
  <div class="logOut" ng-click="vm.logOut()">Log out</div>
</div>
