<stock-header log-out="vm.logOut()" username="vm.user.username"></stock-header>

<div id="stockModal" ng-if="vm.stockModalIsVisible">
  <div class="modal">
    <div id="stockName">{{vm.modalStock.name}}</div>
    <div id="stockTicker">{{vm.modalStock.ticker}}</div>
    <div id="stockChart"></div>

    {{vm.modalStock.price}}
    {{vm.modalStock.change}}
    <span ng-click="vm.closeModal()" id="modalClose">
      close
    </span>
  </div>
</div>

<div id="portfolioContainer" ng-click="vm.working()" ng-init="vm.getPortfolios()">
  <div ng-repeat="portfolio in vm.portfolios | orderBy: 'title' track by $index" class="portfolio">
    <portfolio portfolio="portfolio" ticker="ticker" add-stock="vm.addStock({ticker: ticker, portfolio: portfolio})" delete-portfolio="vm.deletePortfolio({portfolio: portfolio})" delete-stock="vm.deleteStock({stock: stock})" stock-modal="vm.stockModal({stock: stock})"></portfolio>
  </div>
  <form ng-submit="vm.newPortfolio()" class="newPortfolio">
    <div ng-if="vm.isNewPortfolio"><input id="newPortfolioInput" type="text" name="name" focus-me="vm.isNewPortfolio" placeholder="Portfolio name..." ng-model="vm.newPortfolioTitle" autofocus></div>
  </form>
  <span class="newPortfolio" id="newPortfolioButton" ng-if="!vm.isNewPortfolio" ng-click="vm.showPortfolioInput()">New &nbsp;Portfolyo</span>
</div>
