body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #111;
}
input {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  border-width: 0;
  display: block;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
a {
  color: #a84646;
  text-decoration: none;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.radius {
  border-radius: 5px;
}
.positive {
  color: #82a85e;
}
.negative {
  color: #a84646;
}
.bold {
  font-weight: 700;
}
.skinny {
  font-weight: 300;
}
.light {
  font-weight: 100;
}
.uppercase {
  text-transform: uppercase;
}
.font {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.panel {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  background-color: #ebcfcf;
  padding: 20px;
  border-radius: 5px;
}
.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.btnPrimary {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
  background-color: #a84646;
}
.btnPrimary:hover {
  background-color: #923d3d;
}
.fullScreen {
  height: 100vh;
  width: 100vw;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.shadow {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}
.innerShadow {
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.alignCenter {
  text-align: center;
}
.centerBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
  background-color: #ebcfcf;
}
#stockModal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#stockModal .modal {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  background-color: #ebcfcf;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  background-color: #a84646;
}
#stockModal #stockName {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
#stockModal #modalClose {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: white;
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 20px;
}
#portfolioContainer {
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  height: calc(100vh - 100px);
}
#portfolioContainer input {
  min-width: 240px;
}
#portfolioContainer .portfolio {
  vertical-align: top;
  display: inline-block;
  background-color: #a84646;
  padding: 10px;
  max-height: 100%;
  width: 240px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}
#portfolioContainer .portfolioTitle {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#portfolioContainer .deletePortfolio {
  float: right;
  margin-right: 5px;
  font-weight: 300;
  cursor: pointer;
}
#portfolioContainer .stockRow {
  margin-bottom: 8px;
  background-color: #ebcfcf;
  padding: 10px;
  border-radius: 5px;
}
#portfolioContainer .stockRow:hover {
  background-color: #e5c0c0;
  cursor: pointer;
}
#portfolioContainer .portfolioScroll {
  overflow-y: scroll;
  max-height: calc(100vh - 120px);
}
#portfolioContainer .deleteStock {
  cursor: pointer;
  margin-left: 3px;
}
#portfolioContainer .stockTicker {
  float: left;
}
#portfolioContainer .stockChange {
  font-weight: 500;
}
#portfolioContainer .newPortfolio {
  display: inline-block;
}
#portfolioContainer #newPortfolioInput {
  width: 260px;
}
#portfolioContainer #newPortfolioButton {
  width: 260px;
  background-color: #a84646;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  margin-left: -10px;
}
#portfolioContainer #newPortfolioButton:hover {
  cursor: pointer;
  background-color: #923d3d;
}
#portfolioContainer .priceAndDelete {
  float: right;
}
